fastapi
uvicorn[standard]
supabase
python-multipart
pydantic
pydantic-settings
python-dotenv
pypdfium2
Pillow
opencv-python-headless==4.10.0.84
edge-tts
groq
langgraph
tenacity
redis
celery
numpy<2
mutagen